h2{
    background-color: #5599DD;
    color:#DDDDDD;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
.exp{
    text-indent: 50px;
}
#email{
    text-decoration: underline;
    font-style: italic;
}
body{
    font-family: ubuntu, helvetica;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
#cabecalho{
    text-align: center;
}
.main{
    background-color: aliceblue;
    height: 1200px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}
#footer{
    font-size: small;
    text-align: center;
    margin-top: 580px;
    
}
